schedules:
- cron: 0 10 * * *
  displayName: Every day at 10:00 UTC
  branches:
    include:
    - main
  always: true


jobs:
- job: BuildIndex
  displayName: Build Source Index

  pool:
    name: NetCore1ESPool-Internal
    demands: ImageOverride -equals 1es-windows-2022

  timeoutInMinutes: 360

  variables:
  - group: source-dot-net stage1 variables

  steps:
  - checkout: self
    clean: true
    submodules: true

  - task: DeleteFiles@1
    displayName: Delete files from bin
    inputs:
      SourceFolder: bin
      Contents: '**/*'

  - task: UseDotNet@2
    displayName: Install .NET Sdk
    inputs:
      useGlobalJson: true

  - task: UseDotNet@2
    displayName: Install .NET 6.0 runtime
    inputs:
      packageType: runtime
      version: 6.0.x

  - script: |
      dotnet tool restore
      dotnet script deployment/AllowPrereleaseSdks.csx
    displayName: Check Allow Prerelease Sdks

  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: custom
      custom: restore
      projects: |
        **\*.sln

  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: 'build'
      projects: |
        src\source-indexer.sln
        src\SourceBrowser\SourceBrowser.sln
      arguments: '/p:PackageOutputPath=$(Build.ArtifactStagingDirectory)/packages'
  
  - task: ComponentGovernanceComponentDetection@0

  - task: NuGetCommand@2
    displayName: NuGet push
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/packages/*.nupkg'
      nuGetFeedType: 'internal'
      publishVstsFeed: '9ee6d478-d288-47f7-aacc-f6e6d082ae6d/d1622942-d16f-48e5-bc83-96f4539e7601'

  - task: VSBuild@1
    displayName: Clone All Repositories
    inputs:
      solution: build.proj
      msbuildArgs: /t:Clone /v:n /bl:$(Build.ArtifactStagingDirectory)/logs/clone.binlog
      msbuildArchitecture: x64
    env:
      source-dot-net-stage1-blob-container-url: $(source-dot-net-stage1-blob-container-url)

  - task: VSBuild@1
    displayName: Prepare All Repositories
    inputs:
      solution: build.proj
      msbuildArgs: /t:Prepare /v:n /bl:$(Build.ArtifactStagingDirectory)/logs/prepare.binlog
      msbuildArchitecture: x64

  - task: VSBuild@1
    displayName: Build source index
    inputs:
      solution: build.proj
      msbuildArgs: /t:BuildIndex /v:n /bl:$(Build.ArtifactStagingDirectory)/logs/build.binlog
      msbuildArchitecture: x64

  - powershell: |
      deployment/install-tool.ps1 -Name 'azure-cli' -Version 2.8.0 -TestPath '/wbin/az.cmd' -BinPath '/wbin/'
    displayName: 'Install Az CLI 2.8.0'

  - powershell: |
      deployment/install-tool.ps1 -Name 'azcopy' -Version 10.2.1
    displayName: 'Install AzCopy 10.2.1'

  - task: CopyFiles@2
    inputs:
      sourceFolder: bin/index/
      contents: |
        **
        !index/**
      targetFolder: bin/index-stage/
      cleanTargetFolder: true

  - powershell: deployment/normalize-case.ps1 -Root bin/index/index/
    displayName: Normalize Case Of Index Files

  - task: AzureCLI@2
    displayName: Upload Index to Azure Storage
    inputs:
      azureSubscription: DncEng-VSTS
      scriptLocation: inlineScript
      scriptType: ps
      inlineScript: >
        deployment/upload-index-to-container.ps1
        -StorageAccountName netsourceindex
        -IndexSource bin/index/index/
        -OutFile bin/index.url

  - task: AzureRmWebAppDeployment@4
    displayName: 'Azure App Service Deploy: netsourceindex'
    inputs:
      ConnectionType: AzureRM
      azureSubscription: DncEng-VSTS
      appType: webApp
      WebAppName: netsourceindex
      ResourceGroupName: source.dot.net
      deployToSlotOrASE: true
      SlotName: staging
      packageForLinux: bin/index-stage/
      enableCustomDeployment: true
      DeploymentType: webDeploy
      RemoveAdditionalFilesFlag: true

  - task: AzureCLI@2
    displayName: Deploy Storage Proxy Url to WebApp
    inputs:
      azureSubscription: DncEng-VSTS
      scriptLocation: inlineScript
      scriptType: ps
      inlineScript: >
        deployment/deploy-storage-proxy.ps1
        -ProxyUrlFile bin/index.url
        -ResourceGroup source.dot.net
        -WebappName netsourceindex
        -Slot staging

  - task: AzureCLI@2
    displayName: Restart WebApp
    inputs:
      azureSubscription: DncEng-VSTS
      scriptLocation: inlineScript
      scriptType: ps
      inlineScript: >
        az webapp restart --name netsourceindex --slot staging --resource-group source.dot.net

  - pwsh: |
      Start-Sleep 60
      $urls = @(
        "https://netsourceindex-staging.azurewebsites.net",
        "https://netsourceindex-staging.azurewebsites.net/System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/String.cs.html"
      )
      foreach ($url in $urls) {
        $statusCode = Invoke-WebRequest $url -UseBasicParsing -SkipHttpErrorCheck | select -ExpandProperty StatusCode
        if ($statusCode -ne 200) {
          Write-Host "##vso[task.logissue type=error;]Deployed website returned undexpected status code $statusCode from url $url"
          Write-Host "##vso[task.complete result=Failed;]Deployed website returned undexpected status code $statusCode from url $url"
        }
      }
    displayName: Test Deployed WebApp

  - task: AzureCLI@2
    displayName: Swap Staging Slot into Production
    inputs:
      azureSubscription: DncEng-VSTS
      scriptLocation: inlineScript
      scriptType: ps
      inlineScript:  >
        az webapp deployment slot swap
        --resource-group source.dot.net
        --name netsourceindex
        --slot staging
        --target-slot production

  - task: AzureCLI@2
    displayName: Cleanup Old Storage Containers
    inputs:
      azureSubscription: DncEng-VSTS
      scriptLocation: inlineScript
      scriptType: ps
      inlineScript:  >
        deployment/cleanup-old-containers.ps1
        -ResourceGroup source.dot.net
        -WebappName netsourceindex
        -StorageAccountName netsourceindex

  - publish: $(Build.ArtifactStagingDirectory)/logs
    artifact: logs
    condition: always()

  - publish: bin/repo
    artifact: repo-logs
    condition: always()
